
body {
    background-color: rgb(220, 247, 246);
}

.question-container {
    margin: 100px auto;
    width: 40%;
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.question{
    margin: 20px;
    padding-bottom: 10px;
}
.answer {
    margin: 20px;
    padding-top: 10px;
}
.load {
    margin: 100px auto;
    width: 100px;
}